<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile=".\log\internal.log">


	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file -->
		<target xsi:type="File" name="logfile" fileName=".\log\operations.log"
				layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}"/>
			
	
		<target xsi:type="ColoredConsole" name="logconsole" useDefaultRowHighlightingRules="false"
				layout="${longdate}|${level}|${message}" >
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Red" backgroundColor="White"/>
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="System.*" finalMinLevel="Debug" writeTo="logfile"/>
		<logger name="Microsoft.*" finalMinLevel="Warn" writeTo="logfile"/>
		<logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Debug" writeTo="logfile"/>
		<logger name="*" minlevel="Debug" writeTo="logfile,logconsole" />
	</rules>
</nlog>